{% extends 'base.html' %}
{% load static %}

{% block title %}
    <h4 class="display-4">Select your restaurant</h4>
{% endblock %}

{% block content %}
    {% for choice in choices %}
        <div class="row">
            <div class="container-fluid text-center">
                <div class="jumbotron mx-2">
                    <a href="/order/id?id={{ choice.id }}">
                        <h1 class="display-4">{{ choice.name }}</h1>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}